<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="home">My App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-pills">
      <li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="second" routerLinkActive="active">Second Page</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
